:root {
    /* Background colors */
    --background-main: #fed5bec0;
    --background-secondary: #ddad92ce;
    --background-tertiary: #d0d0d0;

    /* Text colors */
    --header-text: #FFE4DF;
    --header-text2: var(--background-secondary);
    --text-color: #707070;

    /* Link colors */
    --link-color: #8fb8de;
    --link-hover-color: #6790b6;

    /* Graph colors according to tol color pallete (works for colorblind)*/
    /* --graph-color1: #332288; */
    --graph-color1: #a6cee3;
    --graph-color1_2: #a6cee3;
    --graph-color2: #1f78b4;
    --graph-color3: #b2df8a;
    --graph-color4: #33a02c;
    --graph-color5: #DDCC77;

    /* Button colors */
    --button-background: #2ecc71;
    --button-text: #fff;
    --button-hover-background: #27ae60;


    /* fonts */
    --main-font: 'Candara','Arial', sans-serif;
    
}