body {
    background-color: var(--background-main);
    font-family: var(--main-font);
    color: var(--text-color);
    font-size: larger;
    margin: 0 auto;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    overflow-y: auto;
    /* overflow-x: hidden; */
}

p {
    font-size: x-large;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--header-text2);
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover-color);
    cursor: pointer;
}

.section {
    background: cover;
    min-height: 100vh;
}

.section:not(:first-child) {
    border-top: 4px dotted #FFDDDD;
    margin: -3px;
}

.section:nth-child(odd) {
    background-color: var(--background-secondary);
}

.section:nth-child(odd) h1,h2,h3,h4,h5,h6 {
    color: var(--header-text);
}

#start {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.title {
    margin: 20px;
}

#problem-statement {
    display: flex;
    align-items: center; 
    justify-content: center;
}

#problem-statement p {
    margin-left: 20%;
    margin-right: 20%;
    font-size: xx-large;
}

#volume-map {
    float: left;
}

#accidents2018 {
    float: right;
}

.columns {
    display: flex;
    justify-content: center;
}

.columns:after {
    content: "";
    display: table;
    clear: both;
  }

.column {
    width: 50%;
    padding: 20px 100px 20px 100px;
    height: 100%;
  }

#heatmap {
    align-items: center; 
}

.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: var(--graph-color1);
}

#cause_per_year {
    position: sticky;
    top: 5vh;
    bottom: 300px;
    align-self: flex-start !important;
    z-index: 1;
}

#sections {
    position: relative;
    display: inline-block;
    border-left: 4px dotted #FFDDDD;
  }

.step {
    margin-left: 20%;
    margin-top: 20vh;
    margin-bottom: 20vh;
    font-size: xx-large !important;
    
}
.step p{
    font-size: xx-large !important;
}

.step:last-child {
    margin-bottom: 40vh;
}