body {
    background-color: var(--background-main);
    font-family: var(--main-font);
    color: var(--text-color);
    font-size: larger;
    margin: 0 auto;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    
}

p {
    font-size: x-large;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--header-text2);
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover-color);
    cursor: pointer;
}

#main-title h1,
#main-title h2 {
    /* color: var(--text-color); */
    /* opacity: 1; */
    text-shadow: 5px 5px 5px black;
}

#main-title h2 {
    color: white
}

#title_page {
    opacity: 0.6;
}


.section {
    background: cover;
    min-height: 100vh;
    /* margin: 3%; */
    /* margin: -3px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.section:not(:first-child) {
    border-top: 4px dotted #FFDDDD;
    margin: -3px;
}

.section:nth-child(odd) {
    background-color: var(--background-secondary);
}

.section:nth-child(odd) h3,
.section:nth-child(odd) h2,
.section:nth-child(odd) h1 {
    color: var(--header-text);
}




.titleslide {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.titleslide h1 {
    font-size: 5em;
}

.titleslide h2 {
    font-size: 2em;
}

.titleslide p {
    font-size: xx-large;
}

.references {
    padding: 10%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.columns:after {
    content: "";
    display: table;
    clear: both;
  }

.column {
    width: 50%;
    padding: 20px 100px 20px 100px;
}

.two_graphs {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: stretch; 
} 

.two_graphs h2 {
    position: relative;
    top: 15%;
}

#heatmap {
    align-items: center; 
}

.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: var(--graph-color1);
}

#cause_per_year {
    position: sticky;
    top: 5vh;
    bottom: 300px;
    align-self: flex-start !important;
    z-index: 1;
}

#sections {
    position: relative;
    display: inline-block;
    border-left: 4px dotted #FFDDDD;
}

.step {
    margin-left: 20%;
    /* margin-top: 20vh; */
    margin-bottom: 30vh;
    font-size: xx-large !important;
}

.step p {
    font-size: xx-large !important;
}

.step:last-child {
    margin-bottom: 40vh;
}

select {
    background-color: var(--background-secondary);
    color: var(--text-color);
    font: var(--main-font);
    font-size: medium;
}

#year {
    background-color: var(--background-main);
}

img {
    width: 60%;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: block;
}

#a1 {
    position: absolute;
    transform: rotate(-30deg);
    left: -4em;
    top: 1em;
}

#a2 {
    position: absolute;
    transform: rotate(15deg);
    right: -4em;
    top: 1em;
    
}

#a3 {
    position: absolute;
    transform: rotate(25deg);
    left: 1em;
    bottom: 5em;
}

#a4 {
    position: absolute;
    transform: rotate(-15deg);
    right: 1em;
    bottom: 5em;
}