:root {
    /* Background colors */
    --background-main: #fed5bec0;
    --background-secondary: #ddad92ce;
    --background-tertiary: #d0d0d0;

    /* Text colors */
    --header-text: #FFE4DF;
    --header-text2: var(--background-secondary);
    --text-color: #707070;

    /* Link colors */
    --link-color: #8fb8de;
    --link-hover-color: #6790b6;

    /* Graph colors according to tol color pallete (works for colorblind)*/
    /* --graph-color1: #332288; */
    --graph-color1: #566246c0;
    --graph-color2: #117733;
    --graph-color3: #44AA99;
    --graph-color4: #88CCEE;
    --graph-color5: #DDCC77;
    --graph-color6: #CC6677;
    --graph-color7: #AA4499;
    --graph-color8: #882255;

    /* Button colors */
    --button-background: #2ecc71;
    --button-text: #fff;
    --button-hover-background: #27ae60;


    /* fonts */
    --main-font: 'Candara','Arial', sans-serif;
    
}