# Ignore any temporary files
*.tmp

# Ignore IDE or editor-specific files
.vscode/
.idea/

/data-processing

# Ignore big unused data files
data/Motor_Vehicle_Collisions.csv

#Ignore node modules
node_modules/